<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>CloudEpsi</servlet-name>
		<servlet-class>epsi.CloudEpsiServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CloudEpsi</servlet-name>
		<url-pattern>/cloudepsi</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>TacheDeFond</servlet-name>
		<servlet-class>epsi.CalculTacheDeFondServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TacheDeFond</servlet-name>
		<url-pattern>/tacheDeFond</url-pattern>
	</servlet-mapping>
	
	
	
	
	
	<servlet>
		<servlet-name>AjoutBase</servlet-name>
		<servlet-class>epsi.AjoutBaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AjoutBase</servlet-name>
		<url-pattern>/urlAjoutBaseServlet</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>Requete1</servlet-name>
		<servlet-class>epsi.RequeteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Requete1</servlet-name>
		<url-pattern>/urlRequeteServlet</url-pattern>
	</servlet-mapping>	
	
	
	<filter>
		<filter-name>MonFiltreMultiTnant</filter-name>
		<filter-class>epsi.MonFiltre</filter-class>
	</filter>
	
	<filter-mapping>
		<filter-name>MonFiltreMultiTnant</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
